params {
    tools = "haplotypecaller,manta,cnvkit,snpeff,igvreports"
    skip_tools = "baserecalibrator"
    gatk_hard_filter = true
    joint_germline = false
    genome = ""
    vcf_exclude_intervals = "https://raw.githubusercontent.com/DoeringLab/kn99_variants/main/kn99_exclude_regions.bed"
    vcf_exclude_intervals_idx = "https://raw.githubusercontent.com/DoeringLab/kn99_variants/main/kn99_exclude_regions.bed.idx"
    fasta = "/storage1/fs1/doering/Active/lab_members/Thomas_Hurtaux/WGS/test/KN99_genome_fungidb.fasta"
    fasta_fai = "/storage1/fs1/doering/Active/lab_members/Thomas_Hurtaux/WGS/test/KN99_genome_fungidb.fasta.fai"
    gff = "/storage1/fs1/doering/Active/lab_members/Thomas_Hurtaux/WGS/test/KN99_stranded_annotations_fungidb_augment.gff"
    snpeff_db = "1"
    snpeff_genome = "ASM221672v1"
    igenomes_ignore = true
    vep_cache = ""
    snpeff_cache = "/storage3/fs1/doering-extra/Active/Sequence_information/KN99_snpeff_db"
    split_fastq = 1000000
    nucleotides_per_second = 10000
    save_output_as_bam = true
}
